<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneycontrol">

    <application
        android:allowBackup="true"
        android:icon="@drawable/money_coin_blank_100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/money_coin_blank_100"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyControl">

        <!--Icon from いらすとや https://www.irasutoya.com/2019/04/blog-post_303.html-->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".setting.setting_showall" />
        <activity
            android:name=".setting.readCSV"
            android:theme="@style/myTransparent"/>
        <activity android:name=".dbTools.EditDB"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>
    </application>

</manifest>